!gradle-wrapper.jar
*.bak
*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.pydevproject
*.swp
*.tmp
*.war
*.log
*~.nib
.buildpath
.classpath
.externalToolBuilders/
.gradle
.idea/
.loadpath
.metadata
.nb-gradle/
.project
.settings/
bin/
build/
dist/
gradle-app.setting
hs_err_pid*
local.properties
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
out/
tmp/
